@media only screen and (min-width: 40rem) {
  #menu {
    display: none;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navigation a {
    padding: 0.8rem 1.2rem;
  }

  main {
    max-width: 1000px;
  }

  .temple-gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}